<div class="main-container h-screen flex  bg-slate-500 text-white">
  <div id="navBar" class="relative nav-bar border-r-2 border-zinc-100 h-screen px-6  bg-slate-700 p-0 transition-all duration-1000" [style.width]="width + '%'">
    
    <ng-container *ngIf="!navIcon">
      <div class="flex flex-col gap-4">
      <h1 class="text-6xl pb-4">CSS Flex</h1>
      <a class="text-2xl pl-2">Item One</a> <br>
      <a class="text-2xl pl-2">Item Two</a> <br>
      <a class="text-2xl pl-2">Item Three</a>
    </div>
    </ng-container>
  <ng-container class="mt-28" *ngIf="navIcon">
      <img class="pl-1 pb-2" src="/assets/Dark Icon.png" alt="" width="60px" height="60px" >
      <img class="pl-1 pb-2" src="/assets/Dark Icon.png" alt="" width="60px" height="60px" >
      <img class="pl-1 pb-2" src="/assets/Dark Icon.png" alt="" width="60px" height="60px">
  </ng-container>

    <img class="absolute top-1/2 right-2 cursor-pointer z-50" src="/assets/arrow.svg" [ngClass]="navIcon ? 'rotate-180' : ''" alt="Arrow" (click)="navCollapse()">
 </div>

  <div class="main-page flex w-full">

    <div class="text w-full overflow-y-scroll">
      <h1 class="text-5xl pl-4 mt-2">Documentation</h1>
      <div class=" pl-4 pt-4 text-xl">
        <p>
         Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends. Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.
        </p>
      </div>
      <div class="api-health text-5xl pt-4">
        <h1 class="text-5xl pl-4">API Status</h1>
        <div class="pl-4 pt-4 text-xl">
          <p>
            Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends. Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.
           </p>
        </div>
      </div>

      <div class="api-health text-5xl pt-4">
        <h1 class="text-5xl pl-4">API Health</h1>
        <div class="pl-4 pt-4 text-xl">
          <p>
            Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends. Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.
           </p>
        </div>
      </div>

      <div class="api-health text-5xl pt-4">
        <h1 class="text-5xl pl-4">API Something</h1>
        <div class="pl-4 pt-4 text-xl">
          <p>
            Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends. Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.
           </p>
        </div>
      </div>
    </div>
  
    <!-- card section -->
    <div class="cards w-full h-auto pl-4 pr-2 mt-2 overflow-y-scroll">
      <p class="text-5xl pb-2">Useful Links</p>
      <div class="one bg-white h-64 mb-2 rounded">
        <p class="text-black p-2 ">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
      <div class="one  bg-white h-64  mb-2 rounded">
        <p class="text-black p-2">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
      <div class="one  bg-white h-64 mb-2 rounded">
        <p class="text-black p-2">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
      <div class="one  bg-white h-64 mb-2 rounded">
        <p class="text-black p-2">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
      <div class="one  bg-white h-64 mb-2 rounded">
        <p class="text-black p-2">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
      <div class="one  bg-white h-64 mb-2 rounded">
        <p class="text-black p-2">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
      <div class="one  bg-white h-64 mb-2 rounded">
        <p class="text-black p-2">Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.Determines a grid item’s location within the grid by referring to specific grid lines. grid-column-start/grid-row-start is the line where the item begins, and grid-column-end/grid-row-end is the line where the item ends.</p>
      </div>
    </div>

  
</div>
